<div class="pagewrapper">
   <!-- header -->
   <ng-container *ngIf="!head">
      <app-header (ConnEvent)="conPass($event)"></app-header>
   </ng-container>
   <ng-container *ngIf="head">
      <app-innerheader [balance]="balance" (currBal)="CurrBal($event)" (ConnEvent)="conPass($event)"></app-innerheader>
   </ng-container>
   <!-- end -->
   <div class="gamewrapper">
      <div class="sidemenu">
         <app-sidebar></app-sidebar>
      </div>
      <div class="gameinnerwhl">
         <div class="breadcrumblink"><a class="pointer" routerLink="/casino">RollGame Originals</a> > <span class="pointer">Cave of plunder</span></div>
         <div class="d-flex row m-0">
            <div class="gameinner col p-0">
               <!-- <div  class="row greyboxwhl d-flex align-items-center">
                  <div class="greybox paybox bf">
                     <div><span class="green-t">Bankroll</span><span class="mx-1">ETH</span></div>
                     <div class="text-white">2817495233 <img class="scoin" src="assets/images/coins/eth.svg"></div>
                  </div>
                  <div class="d-flex ml-auto">
                     <div class="greybox bf">1.63x</div>
                     <div class="greybox bf">1.52x</div>
                     <div class="greybox greenbox bf">5.31x</div>
                     <div class="greybox greenbox bf">8.35x</div>
                     <div class="greybox bf">1.46x</div>
                     <div class="greybox bf">1.78x</div>
                     <div class="greybox bf">3.04x</div>
                     <div class="greybox bf">4.06x</div>
                  </div>
               </div> -->
               <div>
                 
               </div>
               <div class="gameinnerboxwhl minesgame">
                  <div class="gameinnerwrapper">
                     <div class="cavofplunder d-flex align-items-center">
                        <div class="leftpart text-center">
                           <div class="my-2"><img class="img-fluid" src="assets/images/cave-of-plunder-text.png"></div>
                           <!-- <div class="my-2 oranget text-uppercase">cave of plunder slot machine</div> -->
                           <div class="imagerunner">

                            <div class="">
                              <div class="cavebox">
                                <div class="spinning" *ngIf="isSpinning"><img  [src]="resultImage" alt="Spinning Image"  /></div>
                                <img *ngIf="!isSpinning && resultImage !== '' && resultImage !== 'assets/images/cross.png'" [src]="resultImage" alt="Result Image" />
                                <img *ngIf="!isSpinning && resultImage === 'assets/images/cross.png'" src="assets/images/cross.png" alt="Result Image" />

                              </div>
                              <!-- <button class="btn btn-secondary" (click)="spin()" [disabled]="isSpinning">Spin</button> -->
                            </div>

                           </div>
                           <div >
                              <img class="img-fluid ban-img" src="assets/images/if-you-see.png">
                           </div>
                           <div class="oranget my-2">Cashpot</div>
                           <div class="d-flex justify-content-between align-items-center cashpotwhl">
                              <div class=""><button class="btn greybtn" [disabled]="diasblebet" (click)="collect_amount('full')"><span class="gold_btn">collect</span></button></div>
                              <div>
                                 <input type="text" class="output" [(ngModel)]="cashpot">
                              </div>
                              <div><button class="btn greybtn" [disabled]="diasblebet" (click)="collect_amount('partial')"><span class="gold_btn">Partial Collect</span></button></div>
                           </div>
                           <br/>
                           <!-- <div class="h6 greyt my-2">Auto Top to</div>
                           <div class="d-flex justify-content-center align-items-center">
                              <div>
                                 <input type="text" class="output" value="0.000000">
                              </div>
                           </div> -->
                        </div>

                        <div class="rightpart">
                          <div class="ngxwheel">
                           <img src="assets/images/round-diamond.png" class="img-dmd" alt="diamond-img">
                            <ngx-wheel 
                              #wheel
                              [width]='300'
                              [height]='300'
                              [spinDuration]='5'
                              [items]='items'
                              [innerRadius]='70'
                              [spinAmount]='5'
                              [disableSpinOnClick]='false'
                              [textOrientation]='textOrientation'
                              [textAlignment]='textAlignment'
                              pointerStrokeColor='black'
                              pointerFillColor='gold'
                              [idToLandOn]='idToLandOn'
                              (onSpinStart)='before()'
                              (onSpinComplete)='after()'
                              >
                               </ngx-wheel>
                             </div>
                  

                        
                           <div class="d-flex winnerbox">

                           <div class="winbox">
                              <div class="winx">
                                 7.50x
                              </div>
                              <div class="greendiamond"><img src="/assets/images/green-diamond.png"></div>
                              <div class="flex-wrap">
                                 <div class="dnd" id="book_1050" [ngClass]="book_payout >= 10.5 ? 'wins':''">10.5x</div>
                                 <div class="dnd" id="book_500" [ngClass]="book_payout >= 5 ? 'wins':''">5.0x</div>
                                 <div class="dnd" id="book_160" [ngClass]="book_payout >= 1.6 ? 'wins':''"  >1.6x</div>
                              </div>
                              <!-- [ngClass]="Bot.status == 'active' ? 'form-control inputs text-capitalize green-t' : 'form-control inputs white-t text-capitalize errMsg'" -->
                              <div class="winx"><img width="100" src="assets/images/book.png"></div>
                           </div>

                           <div class="winbox">
                            <div class="greendiamond"><img src="/assets/images/blue-diamond.png"></div>
                              <div class="winx ">
                                 ActionSpin
                              </div>
                              
                              <div class="flex-wrap">
                                 <div id="cross_20505" class="dnd cross_cls" [ngClass]="cross_payout >= 205.05 ? 'wins':''">205.05x</div>
                                 <div id="cross_13750" class="dnd cross_cls" [ngClass]="cross_payout >= 137.5 ? 'wins':''">137.5x</div>
                                 <div id="cross_8800" class="dnd cross_cls" [ngClass]="cross_payout >= 88.0 ? 'wins':''">88.0x</div>
                                 <div id="cross_5300" class="dnd cross_cls" [ngClass]="cross_payout >= 53.0 ? 'wins':''">53.0x</div>
                                 <div id="cross_2850" class="dnd cross_cls" [ngClass]="cross_payout >= 28.5 ? 'wins':''">28.5x</div>
                                 <div id="cross_1300" class="dnd cross_cls" [ngClass]="cross_payout >= 13.0 ? 'wins':''">13.0x</div>
                                 <div id="cross_400" class="dnd cross_cls" [ngClass]="cross_payout >= 4.0 ? 'wins':''">4.0x</div>
                              </div>
                              <div class="winx"><img width="100" src="assets/images/cross.png"></div>
                           </div>

                           <div class="winbox">
                              <div class="winx ">
                                 21.0x
                              </div>
                              <div class="greendiamond"><img src="/assets/images/brown-diamond.png"></div>
                              <div class="flex-wrap">
                                 <div id="diamond_4505" class="dnd" [ngClass]="diamond_payout >= 45.05 ? 'wins':''">45.05x</div>
                                 <div id="diamond_2850" class="dnd" [ngClass]="diamond_payout >= 28.5 ? 'wins':''">28.5x</div>
                                 <div id="diamond_1650" class="dnd" [ngClass]="diamond_payout >= 16.5 ? 'wins':''">16.5x</div>
                                 <div id="diamond_800" class="dnd" [ngClass]="diamond_payout >= 8.0 ? 'wins':''">8.0x</div>
                                 <div id="diamond_250" class="dnd" [ngClass]="diamond_payout >= 2.5 ? 'wins':''">2.5x</div>
                              </div>
                              <div class="winx"><img width="100" src="assets/images/diamond.png"></div>
                           </div>

                        </div>
                        </div>
                     </div>
                     <div class="justify-content-center d-flex">
                        <button class="btn sitebtn col-lg-6 p-2 mt-3 mb-1" (click)="submitBet()" style="height:43px; padding: 4px !important;">Bet</button>
                     </div>
                     <div class="d-flex justify-content-center align-items-end betwhl" [ngClass]="{'disabled-text': gameTab}">
                        <div class="mx-2">
                           <div class="d-flex justify-content-between p-2 px-2">
                              <div>Amount</div>
                              <div>0 {{currency}}</div>
                           </div>
                           <div class="formbox d-flex align-items-center">
                              <div class="coinpic"><img src="assets/images/coins/bnb.svg"></div>

                              <div>
                                 <input value="100.000000000" class="form-control" name="betamount" #betamount="ngModel" required [(ngModel)]="bet_amount" [disabled]="hadamt || diasblebet" (blur)="bettingamount('none')" onkeypress="return (event.charCode == 8 || event.charCode == 46) ? (this.value.indexOf('.') === -1) : event.charCode >= 48 && event.charCode <= 57">
                              </div>

                              <div>
                                <button class="btn sbtn lbtn" [disabled]="hadamt || diasblebet" (click)="bettingamount('divide')">/2</button>
                              </div>

                              <div>
                                <button class="btn sbtn lbtn" [disabled]="hadamt || diasblebet" (click)="bettingamount('multiply')">X2</button>
                              </div>

                              <div class="dropdown">
                                 <button class="btn sbtn lbtn arrowbtns rangeslider" [disabled]="hadamt || diasblebet">
                                    <div><img src="assets/images/toparrow.svg"/></div>
                                    <div><img src="assets/images/downarrow.svg"/></div>
                                 </button>
                                 <div class="showslider">
                                    <ngx-slider [(value)]="value" [options]="options" (userChange)="onSliderChange($event,'manual')"></ngx-slider>
                                 </div>
                              </div>

                           </div>
                            <div class="d-flex evenbtn justify-content-between">
                           <button class="sbtn col lbtn" (click)="bettingamount('10')">10</button>
                           <button class="sbtn col lbtn" (click)="bettingamount('100')">100</button>
                           <button class="sbtn col lbtn" (click)="bettingamount('1000')">1000</button>
                           <button class="sbtn col lbtn" (click)="bettingamount('10000')">10000</button>
                        </div>
                        </div>
                        <div class="mx-2">
                           <div class="d-flex justify-content-between fn  p-2 px-2">
                              <div>Number of Bets</div>
                           </div>
                           <div class="formbox d-flex align-items-center justify-content-between">
                              <div><input value="0" class="form-control" name="numberofbets" required [disabled]="diasblebet" [(ngModel)]="numberofbets" onkeypress="return (event.charCode == 8 || event.charCode == 46) ? (this.value.indexOf('.') === -1) : event.charCode >= 48 && event.charCode <= 57"></div>

                              <div>
                                 <button class="btn sbtn lbtn" (click)="autobet(10)">10</button>
                                 <button class="btn sbtn lbtn" (click)="autobet(100)">100</button></div>
                           </div>
                        </div>
                        <div class="mx-2 betbtn">
                           
                        </div>
                     </div>
                     <div class="d-flex justify-content-between boxgwhl">
                        <div class="d-flex boxg">
                           <div (click)="userFav('caveofplunder')"><i [ngClass]="{'fav':fav_clr==1}" class="fas fa-star"></i>{{fav_count}}</div>
                           <div (click)="userLike('caveofplunder')"><i class="fas fa-heart" [ngClass]="{'like':like_clr ==1}"></i>{{like_count}}</div>
                        </div>
                        <div class="d-flex boxg">
                           <div title="Hot keys" data-toggle="modal" data-target="#hotKeys"><i class="fa-solid fa-keyboard"></i></div>
                           <div title="Live Status"  data-toggle="modal" data-target="#exampleCenter5"><i class="fa fa-bolt"></i></div>
                           <div title="Seed" data-toggle="modal" data-target="#exampleCenter" (click)="Seedsetting()"><i class="fa-solid fa-lemon"></i></div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
         <div class="darkbg p-4">
            <nav>
               <div class="nav nav-tabs sitetabs tabs1" id="nav-tab" role="tablist">
                  <a class="nav-item nav-link active" id="nav-all-tab" data-toggle="tab" href="#nav-all" role="tab" aria-controls="nav-all" aria-selected="true">All Bets</a>
                  <a class="nav-item nav-link" id="nav-bets-tab" data-toggle="tab" href="#nav-bets" role="tab" aria-controls="nav-bets" aria-selected="false">My Bets</a>
                  <!-- <a class="nav-item nav-link" id="nav-roller-tab" data-toggle="tab" href="#nav-Roller" role="tab" aria-controls="nav-roller" aria-selected="false">High Roller</a>
                  <a class="nav-item nav-link" id="nav-contest-tab" data-toggle="tab" href="#nav-contest" role="tab" aria-controls="nav-contest" aria-selected="false">Wager Contest</a> -->
               </div>
            </nav>
            <div class="tab-content" id="nav-tabContent">
               <div class="tab-pane fade show active" id="nav-all" role="tabpanel" aria-labelledby="nav-all-tab">
                  <div class="table-responsive">
                     <table class="table table-dark lastright">
                        <thead>
                           <tr>
                              <th>Bet ID</th>
                              <th>Player</th>
                              <th>Time</th>
                              <th>Payout</th>
                              <th>Profit</th>
                           </tr>
                        </thead>
                       <tbody>
                          <ng-container *ngFor="let list of allBethistory;let i = index">
                            <tr *ngIf="i < 10 || showMore">
                              <td>{{ list.betid }}</td>
                              <td>{{ list.player}}</td>
                              <td>{{ list.time | date:'yyyy-MM-dd H:mm:ss'}}</td>
                              <td>{{((list.payout)*1).toFixed(2)}} x</td>
                              <!-- <td>{{ list.profit }}</td> -->
                              <ng-container *ngIf="list.status=='loser'">
                                <td [ngClass]="{'winner':list.status=='winner','looser':list.status== 'loser'}">-{{((list.profit)*1).toFixed(6)}} <img width="20" class="ml-1" src="assets/images/coins/bnb.svg"></td>
                              </ng-container>
                              <ng-container *ngIf="list.status!='loser'">
                                <td [ngClass]="{'winner':list.status=='winner','looser':list.status== 'loser'}">+{{((list.profit)*1).toFixed(6)}} <img width="20" class="ml-1" src="assets/images/coins/bnb.svg"></td>
                              </ng-container>
                            </tr>
                          </ng-container>
                        </tbody>
                     </table>
                     <div *ngIf="allBethistory.length >= 10" class="text-center">
                        <button (click)="toggleShowMore()" class="sowes" style="color:white">{{ showMore ? 'Show Less' : 'Show More' }}<span><i class="fas fa-chevron-down ml-2"></i></span></button>
                     </div>
                  </div>
               </div>
               <div class="tab-pane fade" id="nav-bets" role="tabpanel" aria-labelledby="nav-bets-tab">
                  <div class="table-responsive">
                     <table class="table table-dark lastright">
                        <thead>
                           <tr>
                              <th>Bet ID</th>
                              <th>Bet</th>
                              <th>Time</th>
                              <th>Payout</th>
                              <th>Profit</th>
                           </tr>
                        </thead>
                        <tbody>
                           <ng-container *ngFor="let list of bethistory;let i = index">
                              <tr *ngIf="i < 10 || showMoreHis" (click)="Details(list._id)" class="hov" data-toggle="modal" data-target="#exampleCenter2">
                                 <td>{{ list._id }}</td>
                                 <td >{{ list.bet_amount }}</td>
                                 <td>{{ list.created_at | date:'yyyy-MM-dd H:mm:ss'}}</td>
                                 <td>{{((list.payout)*1).toFixed(2)}} x</td>
                                 <ng-container *ngIf="list.status=='loser'">
                                    <td [ngClass]="{'winner':list.status=='winner','looser':list.status== 'loser'}">-{{((list.win_lose_amt)*1).toFixed(6)}}<img width="20" class="ml-1" src="assets/images/coins/bnb.svg"></td>
                                 </ng-container>
                                 <ng-container *ngIf="list.status!='loser'">
                                    <td [ngClass]="{'winner':list.status=='winner','looser':list.status== 'loser'}">+{{((list.win_lose_amt)*1).toFixed(6)}}<img width="20" class="ml-1" src="assets/images/coins/bnb.svg"></td>
                                 </ng-container>
                              </tr>
                          </ng-container>
                        </tbody>
                     </table>
                     <div *ngIf="bethistory.length >= 10" class="text-center">
                        <button (click)="toggleShowMoreHis()" class="sowes" style="color:white">{{ showMoreHis ? 'Show Less' : 'Show More' }}
                           <span><i class="fas fa-chevron-down ml-2"></i></span>
                        </button>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <app-footer></app-footer>
   
</div>

<!-- Seed setting Modal -->
<div class="modal fade" id="exampleCenter" tabindex="-1" role="dialog" aria-labelledby="exampleCenter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLongTitle">Seed Settings</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <div class="warn">You may use this function to set a new server seed + a new client seed, they can be randomly generated or customized (at least 10 characters), and the number of bets will be reset to zero.</div>
        <div class="detailForm">
            <div class="title">Current seeds</div>
            <div class="ui-input">
               <div class="input-label">Server Seed (hash)</div>
               <div class="input-control">
                  <input type="text" class="w-100" readonly="" [value]="serverSeed" class="form-control" id="bcd">
               </div>
            </div>
            <div class="formFlex">
               <div class="ui-input d-flex">
                  <div class="mr-2">
                     <div class="input-label">Client Seed</div>
                  <div class="input-control">
                     <input type="text" class="form-control" class="w-100" readonly="" [value]="clientSeed" class="form-control" id="bcd">
                  </div>
                  </div>
                  <div>
                     <div class="input-label">Nonce</div>
                  <div class="input-control">
                     <input type="text" class="w-100" class="form-control" readonly="" [value]="nounce" id="bcd">
                  </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <div class="devide"></div>
      <div class="detailForm">
         <div class="title">New seeds</div>
         <div class="ui-input">
            <div class="input-label">Server Seed (hash)</div>
            <div class="input-control">
               <input type="text" class="w-100" class="form-control" placeholder="The seed hasn't been revealed yet" readonly [value]="newserverSeed" id="bcd">
            </div>
         </div>
         <div class="formFlex">
            <div class="ui-input d-flex">
               <div class="mr-2">
                  <div class="input-label">Client Seed</div>
               <div class="input-control d-flex justify-content-between" >
                  <div class="d-flex mr-2">
                     <input type="text" class="form-control" [value]="newclientSeed" readonly id="bcd" style="width:150px">
                     <span class=" form-control btn sm-btn btn-light rounded-0 float-right" (click)="generateSeed()" id="bcd"><i class="fas fa-sync-alt" ></i></span>
                  </div>
                  
               </div>
               </div>
               <div class="">
                  <div class="input-label">Nonce</div>
                  <div class="input-control">
                     <input type="text" class="form-control" class="w-100" readonly="" [value]="0" class="form-control" readonly id="bcd">
                  </div>
               </div>
            </div>
         </div>
      </div>

      <div class="submit" style="color:white !important;">
         <button (click)="updateHash()" class="btn sitebtn col-md-12 p-2 mt-3 mb-1" style="font-weight: 600;font-size: 17px;">
            <div class="button-inner">Use New Seeds</div>
         </button>
      </div>
    </div>
  </div>
</div>
<!-- end -->

<!-- Details -->
<div class="modal fade" id="exampleCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleCenter2" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-success" id="exampleModalLongTitle">Details</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
      </div>

      <div class="detailForm"> 
         <div class="ui-scrollview d767b8h">
            <div class="g1g5nio3">
               <div class="s1hd7haz game-share">
               </div>
               <div class="text-center">
                  <div class="d-flex justify-content-center mb-2">
                     <img class="verified" src="assets/images/bet-id.svg" width="20px">

                     <div class="betid" >Bet Id: {{Det_id}}</div>
                     <i class="fas fa-copy pl-3" (click)="copyInputMessage(Det_id)"></i>
                  </div>
                  <div class="d-flex justify-content-center mb-2">
                     <span class="mr-2">By</span>
                     <a href="#/user/profile/12344577" keep-scroll-position="true" class="u1blx6u2 user-info name mr-2">
                        <div class="name betid mr-2">{{Det_name}}</div>
                     </a>
                     <span class="mr-2">On </span>
                     <div class="rt_time mr-2"> {{ Det_created_at |date:'dd-MM-yy  HH:mm:ss'}}</div>
                  </div>
               </div>
               <div class="items d-flex justify-content-between">
                  <div class="item-wrap blak-box">
                     <div class="d-flex text-center">
                        <img class="coin-icon" src="assets/images/amount.svg" width="20px">
                     <div class="label flex-center ml-2">Amount</div>
                     </div>
                     <div class="cy2znlo coin notranslate number flex-center">
                        <div class="amount">
                           <span class="amount-str">{{((Det_betamount)*1).toFixed(6)}}
                           </span>
                        </div>
                     </div>
                  </div>
                  <div class="item-wrap blak-box">
                     <div class="d-flex text-center">
                        <img class="coin-icon" src="assets/images/payout.svg" width="20px">
                     <div class="label flex-center ml-2">Payout</div>
                     </div>
                     <div class="number flex-center">{{((Det_payout)*1).toFixed(2)}} x</div>
                  </div>
                  <div class="item-wrap blak-box">
                     <div class="d-flex text-center">
                        <img class="coin-icon" src="assets/images/profit.svg" width="20px">
                     <div class="label flex-center ml-2">Profit</div>
                     </div>
                        <div class="cy2znlo coin notranslate number flex-center profit-num has-sign">
                           <div class="amount">
                              <ng-container *ngIf="Det_status=='winner'">
                                 <span class="amount-str" [ngClass]="{'winner':Det_status=='winner','looser':Det_status== 'loser'}"> + {{((Det_pro_amt)*1).toFixed(6)}}
                                 </span>
                              </ng-container>
                              <ng-container *ngIf="Det_status!='winner'">
                                 <span class="amount-str" [ngClass]="{'winner':Det_status=='winner','looser':Det_status== 'loser'}"> - {{((Det_pro_amt)*1).toFixed(6)}}
                                 </span>
                              </ng-container>
                           </div>
                        </div>
                  </div>
               </div>
               <div class="game-info-wrap formbox p-2 mx-1 my-2 d-flex justify-content-between align-items-center">
                  <div class="info-middle d-flex align-items-center">
                     <div><img class="thumbnail" width="100" alt="game-logo" src="  https://bc.imgix.net/game/image/ccb96e85-e590-4427-aa91-4224898d85b7.png">
                     </div>
                     <div class="ml-2">
                        <div class="name betid">Cave Of Plunder</div>
                        <div>RollGame</div>
                     </div>
                  </div>
                  <button class="ui-button button-normal play">
                     <div class="button-inner sitebtn">Play Now</div>
                  </button>
               </div>
               <div class="items d-flex justify-content-between">
                  <div class="item-wrap blak-box">
                     <div class="item-num">Result</div>
                     <div class="item-desc">{{Det_result}}</div>
                  </div>
                  <div class="item-wrap blak-box">
                     <div class="item-num">Bet</div>
                     <div class="item-desc"><span class="mthan">&gt;=0</span></div>
                  </div>
                  <div class="item-wrap blak-box">
                     <div class="item-num">Chance</div>
                     <div class="item-desc">Infinity%</div>
                  </div>
               </div>
            </div>
            <div class="seed-main">
               <div class="ui-input">
                  <div class="d-flex justify-content-between"><span class="input-label">Server Seed</span><span class="green-t" data-toggle="modal" data-target="#exampleCenter" data-dismiss="modal" aria-label="Close" (click)="confirmedData()" (click)="Seedsetting()" *ngIf="seedset">Seed Settings</span></div>
                  <div class="input-control" *ngIf="Det_seedstatus==0">
                     <input class="form-control" type="text" placeholder="The Seed hasn't been revealed yet." readonly>
                  </div>
                  <div class="input-control" *ngIf="Det_seedstatus==1">
                     <input class="form-control" type="text" [value]="withouthashserver">
                  </div>
               </div>
               <div class="ui-input">
                  <div class="input-label">
                     <div class="seed-col">
                        <div>Server Seed (hash)</div>
                     </div>
                  </div>
                  <div class="input-control"><input type="text" class="form-control"  readonly="" [value]="Det_clientSeed"></div>
               </div>
               <div class="d-flex">
                  <div class="ui-input col pl-0">
                     <div class="input-label">Client Seed</div>
                     <div class="input-control" *ngIf="Det_seedstatus==0">
                        <input type="text" class="form-control" readonly [value]="Det_clientSeed">
                     </div>
                     <div class="input-control" *ngIf="Det_seedstatus==1">
                        <input type="text" class="form-control" readonly [value]="withouthashclient">
                     </div>
                  </div>
                  <div class="ui-input col pr-0">
                     <div class="input-label">nonce</div>
                     <div class="input-control"><input type="text" class="form-control"  readonly="" value="69"></div>
                  </div>
               </div>
            </div>
         </div>
         <div class="submit" style="color:white !important;">
            <button  class="btn sitebtn col-md-12 p-2 mt-3 mb-1" style="font-weight: 600;font-size: 17px;" data-toggle="modal" data-target="#seedVerifyCenter" data-dismiss="modal" aria-label="Close">
               <div class="button-inner" (click)="confirmedData()">Verify</div>
            </button>
         </div>
       </div>
  </div>
</div>
</div>
<!-- end -->

<div class="modal fade" id="win_box" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
          <div><img src="assets/images/winpopup.png" class="img-fluid"/></div>
         <div class="font-weight-bold collectamount">{{(winAmt*1).toFixed(6)}} <span>{{currency}}</span></div>
      </div>
   </div>
</div>

<div class="modal fade" id="seedVerifyCenter" tabindex="-1" role="dialog" aria-labelledby="seedVerifyCenterTitle" aria-hidden="true" >
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="message my-5 text-center frt" style="color:#98a7b5;font-size: 15px;">
            Sorry! You need to set up a new seed before validating the data (the server seed is encrypted)
         </div>
         <div class="d-flex justify-content-center">
            <div class="mr-2" style="color:white !important;">
            <button  class="btn" style="background:#6b7180 !important;font-size: 17px;min-width: 130px;padding: 10px;color: #fff;">
               <div class="button-inner" class="close" data-dismiss="modal" aria-label="Close">Cancel</div>
            </button>
         </div>
         <div class="" style="color:white !important;">
            <button  class="btn sitebtn" style="font-weight: 600;font-size: 17px;padding: 10px !important;" data-toggle="modal" data-target="#exampleCenter" data-dismiss="modal" aria-label="Close">
               <div class="button-inner" (click)="Seedsetting()" (click)="confirmedData()">Confirm</div>
            </button>
         </div>
         </div>
      </div>
  </div>
</div>


<!-- live stats -->
<div class="modal fade modals1" id="exampleCenter5" tabindex="-1" role="dialog" aria-labelledby="exampleCenter5" aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-dialogs" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-success" id="exampleModalLongTitle">Live Stats</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="link item-wrap blak-boxz">
            <div class="d-flex justify-content-between">
               <span>Bet</span>
            <span (click)="getExacttime()"><i class="fas fa-sync-alt" style="color: #000000;"></i></span>
            </div>
            <div class=""> 
               <div class="d-flex justify-content-between my-2">
                  <div>wagered</div>
               <div>profit</div>
               </div>
               <div class="d-flex justify-content-between">
                  <div>{{wagered}}</div>
               <div>{{profits}}</div>
               </div>
            </div>
            <div class="">
               <div class="wrapperbox gridx" >
                  <div class="w-100">
                     <div id="containerX"></div>
                  </div>
               </div>
            </div>
            <div class=""> 
               <div class="d-flex justify-content-between my-2">
                  <div>Win</div>
                  <div>loss</div>
               </div>
               <div class="d-flex justify-content-between">
                  <div >{{win_count}}</div>
                  <div>{{loss_count}}</div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<!-- hotKeys -->
<div class="modal fade" id="hotKeys" tabindex="-1" role="dialog" aria-labelledby="hotKeys" aria-hidden="true" >
   <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title text-success" id="exampleModalLongTitle">Hot keys</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
               <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="message my-5 text-center frt" style="color:#98a7b5;font-size: 15px;">
           <div class="ui-scrollview h1yfs6k1 dialog-box">
            <div class="hotkey-list">
               <div class="hotkey-item">
                  <div class="hotkey-txt">Half bet amount</div>
                  <div class="hotkey-key">A</div>
               </div>
               <div class="hotkey-item">
                  <div class="hotkey-txt">Double bet amount</div>
                  <div class="hotkey-key">S</div>
               </div>
               <div class="hotkey-item">
                  <div class="hotkey-txt">Make a bet</div>
                  <div class="hotkey-key">Space</div>
               </div>
            </div>
            <div class="hotkey-enabled mt-1">
               <div>
                  <input class="hotkey-select " [(ngModel)]="hotKey" name="hotKeys" type="checkbox" id="gridDeposit" (click)="enableKey(hotKey)">
               </div>
               <div>Hotkeys Enabled</div>
            </div>
            <div class="mt-3" style="color:green">
               <span>*Note HotKey's Only Available on Manual Bets</span>
            </div>
         </div>
         </div>
      </div>
  </div>
</div>