<div class="pagewrapper">
   <app-innerheader></app-innerheader>
   <div class="gamewrapper">
      <div class="sidemenu">
         <app-sidebar></app-sidebar>
      </div>
      <div class="gameinnerwhl">
         <div class="d-flex row mb-3 justify-content-between align-items-center">
            <div class="my-2 text-white h6 col"><i class="fas fa-gift green-t"></i> Bonus</div>
            <div class="input-group  col">
               <input type="text" class="form-control" placeholder="Redeem Bounus Code Here" aria-label="Recipient's username" aria-describedby="basic-addon2">
               <div class="input-group-append">
                  <span class="input-group-text greenbtn" id="basic-addon2">Redeem</span>
               </div>
            </div>
         </div>
         <div class="d-flex row">
            <div class="greybox col ">
               <div class="bf text-white my-3">TOTAL BONUS RECEIVED</div>
               <div class="bf text-warning h5 my-3">$ 0.81</div>
            </div>
            <div class="greybox col">
               <div class="bf text-white my-3 d-flex justify-content-between">
                  <div>TOTAL BONUS RECEIVED <i class="fas fa-info-circle green-t"></i></div>
                  <span class="green-t mx-3"><i class="fas fa-chevron-right"></i> Detail</span>
               </div>
               <div class="d-flex ">
                  <div class="col p-0">
                     <div>Received</div>
                     <div class="text-white">0.00 BCD</div>
                  </div>
                  <div class="col">
                     <div>To be received	</div>
                     <div class="text-white">0.00 BCD</div>
                  </div>
               </div>
            </div>
         </div>
         <div class="d-flex  mt-3">
            <div class="col-md-3 p-0">
               <div class="greybox ml-0 text-center">
                  <img src="assets/images/spin.png">
                  <h6 class="text-white text-uppercase">Quests</h6>
                  <div>Claimed : 0 BCD</div>
                  <button class="btn btn-secondary btn-sm small text-uppercase sxbtn my-2">View Quests</button>
               </div>
            </div>
            <div class="col-md-3 p-0">
               <div class="greybox text-center">
                  <img src="assets/images/spin.png">
                  <h6 class="text-white text-uppercase">Quests</h6>
                  <div>Claimed : 0 BCD</div>
                  <button class="btn btn-secondary btn-sm small text-uppercase sxbtn my-2">View Quests</button>
               </div>
            </div>
            <div class="col-md-3 p-0">
               <div class="greybox text-center">
                  <img src="assets/images/spin.png">
                  <h6 class="text-white text-uppercase">Quests</h6>
                  <div>Claimed : 0 BCD</div>
                  <button class="btn btn-secondary btn-sm small text-uppercase sxbtn my-2">View Quests</button>
               </div>
            </div>
         </div>
      </div>
   </div>
   <app-footer></app-footer>
</div>