.btn:disabled {
    opacity: .30;
}
.form-control{
    color: #000000;
    outline: 1px solid #a4a6aa;
}
.upladed{
    object-fit: fill;
}
.gap-c{
    width: 30%;
}

.disabled-text {
  opacity: 0.5;
  pointer-events: none;
}