.winner {
  color: #3BC117 !important;
}

.looser{
  color: red !important;
}
.gray-n{
  background: #767575;
    padding: 4px;
    border-radius: 3px;
    color: #f9f9f9;
    font-size: 11px;
}
.danger-n{
  background: #fe7c96;
    padding: 4px;
    border-radius: 3px;
    color: #f9f9f9;
    font-size: 11px;
}
.success-n{
  background: #1bcfb4;
    padding: 4px;
    border-radius: 3px;
    color: #f9f9f9;
    font-size: 11px;
}