.grey1{
    background: #31343C;
    padding: 15px;
    border-radius: 5px;
}

.initial{
    width: 9rem;
    text-align: left !important;
    padding: 5px 5px 5px 15px;
    border-radius: 5px;
}

.grey2{
    background: #31343C;
    padding: 10px;
    border-radius: 5px;
}
.font-siz{
  font-size: 19px !important;
}

