.pattern{
	border: 2px solid #f78b10 ;
	width: 331px !important;
	margin: 7px auto;
}


.form-control {
    border: 1px solid #999da8 !important;
    font-family: "ubuntu-regular", sans-serif;
    font-size: 0.8125rem;
}