.headertopwhl {
  position: relative;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  width: 100%;
  height: 100%;
  -webkit-transition: all .5s;
  transition: all .5s;
}
.hv{
  cursor: pointer;
}
.headertop{

}
.text-cus{
   color: #99a4b099;
}
.just{
  justify-content: flex-start !important;
}
.cus-pos{
  position: absolute;
  left: 19%;
  bottom: -15px;
  background-color: rgba(49, 52, 60, 0.6);
}
.cont-width{
  width: 200px;
  height: auto;
  padding: 10px;
  border-radius: 100px;
}
.my-class {
  background-color: blue;
  color: white;
}
#Statistics .modal-dialog{margin: 1% !important; width: 98%;margin: 80px auto !important;}
.smal{
  background: #17181b;
}
.smal-img{
  width: 8rem;
  height: 7.4rem;
  border-radius: .125rem;;
  background-color: rgb(24 25 29 / 60%);
  background-size: cover;
  cursor: pointer;
  margin-bottom: 5px;
}
.gametopmenus{width: 100%;
  margin: 0 auto;
  padding: 0 40px;
  max-width: 1430px;
}

.gametopmenus ul{
  padding: 0px; 
  margin: 0px;
}

.gametopmenus ul li{
  float: left; 
  list-style: none;
  margin: 5px;
}

.gametopmenus ul li a{
  display: block;
  padding: 8px;
  color:#98a7b5
 }

.gametopmenus ul li a.select{
  background: #2d3035;
  border-radius: 2px;
  color:#fff;
}

.gametopmenus > ul{display: flex; align-items: 
  center; 
  height: 60px;
}

.hov{
  cursor: pointer;
}

.userpic1{
  width: 70px;
  border-radius: 40px;
  overflow: hidden;
  margin-right: 10px;
}
.largedropdown,.largedropdown .dropdown-menu,.largedropdown .btn
{
  width: 100%;

}
.largedropdown .dropdown-toggle::after
{
  position: absolute;
    right: 11px;
    top: 20px;
}


.thj{
  font-weight:bold;
  color: white;
}

.avatar-box{
  position: relative;
}

.avatar{
  width: 80px;
  height: 80px;
  border: 2px solid #464646;
  border-radius: 50%;
  cursor: pointer;
  vertical-align: middle;
}

.like {
  position: absolute;
  top: 25;
  left: 0;
  color: white;
  padding: 0 0.75rem;
  cursor: unset;
}

.right{
  position: absolute;
  top: 25;
  right: 0;
  width: 2.25rem;
  border-radius: 1px;
  justify-content: center;
  background: #1e2024;
  padding: 1px 12px;
  margin: 1px;
  cursor: pointer !important;
  z-index: 111;
}

.name{
  color: white;
  font-weight: bold;
  font-size: 20px;
}
input:focus{
  color: #fff !important;
}
.warn {
  border: 1px solid #1e2024 !important;
  background: #25272ec4 !important;  
  border-radius: .125rem;
  color: white;
  padding: 0.75rem 1.25rem;
  margin-top: 0.5rem;
  font-size: .75rem;
  width: 500px;
}

.warns{
  /*border: 1px solid #1e2024 !important;*/
  background: #25272ec4 !important;  
  border-radius: .125rem;
  color: white;
  padding: 0.75rem 1.25rem;
  margin-top: 0.5rem;
  font-size: .75rem;
  width: 427px;
}

.cards {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #222328;
  background-clip: border-box;
  /*border: 1px solid rgba(0,0,0,.125);*/
  border-radius: 0.25rem;
}

.blak-boxz{
  margin-top: 0.7rem;
  background: #222328;
  padding: 10px 10px;
  width: 100%;
}

.res{
  color: #ffffff94;
  /*font-weight: bold;*/
  font-size: 15px;
}

.er{
    color:#ffffff94;

}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding:0rem !important; 
}
   
.modal-content {
  background: #1e2024;
    /* padding: 20px; */
} 

.darkbg {
    background: #24262b !important;
}



.disabled-text {
  color: gray;
  opacity: 0.5;
  pointer-events: none;
}


.clickable-image {
  cursor: pointer;
  width: 70px;
  border: solid;
  border-radius: 66px;
}

.big-image {
  max-width: 100%;
  height: auto;
}

.heading {
  font-weight: bolder
}
.refelink{
  width: 135%;
}
.form-input .form-control, .form-control {
  background: #16171a !important;

  color: #fff;
  font-size: 13px;
  border: 1px solid #b2acb2 !important;
  height: 40px;
}

hr{
  border-top: 1px solid rgb(205 207 217 / 36%);
  width: 100%;
}
.pointer1{
  width: 65%;
  word-break: break-all;
}
@media(max-width: 650px){
  .pointer1{
    width: 100%;
    word-break: break-all;
  }
  #exampleReferral{
    padding: 0;
  }

  .form-input .form-control, .form-control {
      background: #16171a !important;
      color: #fff;
      font-size: 13px;
      border: 1px solid #b2acb2 !important;
      height: 40px;
  }
}

::ng-deep #google_translate_element select.goog-te-combo {
  margin: 4px 0;
    color: white;
    background: #39373e;
    padding: 4px;
    border: 1px solid transparent;
}

/*::ng-deep #google_translate_element a {
  
  display: none;
}
*/
/*.google_translate_element div {
    margin: 4px 0;
    color: white;
    background: #5c2dd4;
    padding: 4px;
    border: 1px solid;
}*/

.modal-body {
  padding: 10px !important;
}

.saeslof #user-stat {
    padding: 0.875rem;
    background: #17181b;
}

.title {
    font-size: 1rem;
    color: #f5f6f7;
    font-weight: 600;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar1 {
  width: 2.1875rem;
  height: 2.1875rem;
  border-radius: 50%;
  margin-right: 0.375rem;
}

.user-name {
  color: #f5f6f7;
  max-width: 6.25rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 600;
}

.flex-column {
  display: flex;
}
.chat{
  position: relative;
}
.notify{
  position: relative;
}
.close_cht{
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 15px;
  width: 100%;
  height: auto;
  color: #fff;
  background-color: #000;
}