<div class="pagewrapper">
	<ng-container *ngIf="!head">
	  	<app-header (ConnEvent)="conPass($event)"></app-header>
	</ng-container>
	<ng-container *ngIf="head">
	  	<app-innerheader (ConnEvent)="conPass($event)"></app-innerheader>
	</ng-container>
	<div class="gamewrapper">
		<div class="sidemenu"><app-sidebar></app-sidebar></div>
		<div class="trade-whl-wrapper">
		  <div class="container">
		    <div class="site-card col-md my-5 p-5 ">
		      <h4>Deposit History</h4>
		      <div class="row mt-5">
		        <table class="table table-striped">
		          <thead>
		            <tr>
		              <th>S.No</th>
		              <th>Currency</th>
		              <th>Amount</th>
		              <th>Transaction ID</th>
		              <th>status</th>
		              <th>Data & Time</th>
		            </tr>
		          </thead>
		          <ng-container>
		            <tbody *ngIf="depositHistory.length == 0">
		               <tr><td class="text-white text-center" colspan="6">No records found</td></tr>
		            </tbody>
		         </ng-container>
		            <tbody *ngIf="depositHistory.length > 0" class="text-white">
		               <tr *ngFor="let deposit of depositHistory; let i = index" >
		                  <td>{{i+((p*10)-10)+1}}</td>
		                  <td>{{ deposit['currency'] }}</td>
		                  <td>{{ deposit['amount'] }}</td>
		                  <td class="cursor_pointer" (click)="copyText(deposit['reference_no'])">{{ deposit['reference_no'].substr(0, 6)+"..."+deposit['reference_no'].slice(-6) }}</td>
		                  <td>{{ deposit['status'] }}</td>
		                  <td>{{ deposit['created_at' ] | date:'yyyy-MM-dd HH:mm:ss ' }}</td>
		               </tr>
		            </tbody>
		        </table>
		      </div>
		      <div class="text-right mb-4" *ngIf="depositHistory.length > 10">
		        <div class="text-left pagi d-inline-block ">
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	</div>
</div>
